.projects-container{
    padding-top: 60px;
    background-color: #edf4f7;
    padding-bottom: 90px;
}

.projects-title{
    font-family: 'Gravity-Bold';
    text-align: center;
}

.jobs {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding-top: 80px;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    gap: 20px; /* Adiciona espaçamento entre os itens */
}

/* Transição suave entre os slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 1350px) {
    .projects-title{
        padding-top: 65px;
    }
}

/* Estilos para telas com largura até 820px */
@media screen and (max-width: 820px) {
    .projects-title{
        padding-top: 65px;
    }
}
