/* Estilos padrão para o files-container */

/*.files-wrapper {
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
} Não está sendo utilizada no momento*/

.files-container {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 3% 0;
}

.files-title{
    background-color: rgb(255, 255, 255);
    font-family: 'Gravity-Bold';
    text-align: center;
    padding-top: 3%;
}

/* Estilos para telas com largura até 1350px */
@media screen and (max-width: 1350px) {
    .files-container {
        flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas */
    }
    .files-title{
        padding-top: 60px;
    }
}

/* Estilos para telas com largura até 820px */
@media screen and (max-width: 820px) {
    .files-container {
        padding: 8% 5% 0% 5%; /* Reduz o padding para melhorar o layout em telas menores */
    }
}
