.expo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expo-title {
    font-family: 'Gravity-Bold';
    text-align: center;
    margin: 0 15px;
}

.expo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expo-group {
    width: 50%;
    height: auto;
}

.expo-description-container {
    margin: 60px 0;
    width: 50%;
    text-align: center;
    gap: 6px;
    display: grid;
}

@media (max-width: 600px) {
    .expo-group{
        width: 75%;
    }

    .expo-description-container {
        width: 75%;
    }
}
