:root {
    --font-delta: 0px;
}

h2.section-title {
    margin-block: 0;
    font-weight: normal;
}

.section-title{
    font-size: calc(48px + var(--font-delta));
    transition: font-size 0.5s;
}

.section-description{
    font-size: calc(20px + var(--font-delta));
    transition: font-size 0.5s;
}

.subsection-title{
    font-size: calc(30px + var(--font-delta));
    transition: font-size 0.5s;
}

.social-icons a {
    font-size: calc(24px + var(--font-delta));
    transition: font-size 0.5s;
}

.title{
    font-size: calc(64px + var(--font-delta));
    transition: font-size 0.5s;
}

.subtitle-1,
.subtitle-2 {
    font-size: calc(36px + var(--font-delta));
    transition: font-size 0.5s;
}

.project-description{
    font-size: calc(32px + var(--font-delta));
    transition: font-size 0.5s;
}

.teacher-info{
    font-size: calc(20px + var(--font-delta));
    transition: font-size 0.5s;
}

.job-description{
    font-size: calc(18px + var(--font-delta));
    transition: font-size 0.5s;
}

.mh-text {
    font-size: calc(16px + var(--font-delta));
    transition: font-size 0.5s;
}

.institutions-name{
    font-size: calc(20px + var(--font-delta));
    transition: font-size 0.5s;
}

.footer-text{
    font-size: calc(20px + var(--font-delta));
    transition: font-size 0.5s;
}

@media screen and (max-width: 1350px) {
    .title {
        font-size: calc(48px + var(--font-delta));
    }

    .subtitle-1,
    .subtitle-2 {
        font-size: calc(32px + var(--font-delta));
    }

    .video-title{
        font-size: calc(36px + var(--font-delta));
    }
}

@media (max-width: 1020px) {
    .title {
        font-size: calc(38px + var(--font-delta));
    }

    .subtitle-1,
    .subtitle-2 {
        font-size: calc(26px + var(--font-delta));
    }
}

@media screen and (max-width: 976px) {
    .section-description{
        font-size: calc(18px + var(--font-delta));
    }

    .subtitle-1,
    .subtitle-2 {
        font-size: calc(20px + var(--font-delta));
    }
}

@media screen and (max-width: 650px) {
    .project-description, .link-IBC{
        font-size: calc(26px + var(--font-delta));
    }

    .mh-text {
        font-size: calc(14px + var(--font-delta));
    }
}
