.team-wrapper {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(247, 247, 247);
}
.team-container{
    display: flex;
    justify-content: center;
}

.team-title{
    font-family: 'Gravity-Bold';
    width: 500px;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    padding-top: var(--space-10);
}

@media (max-width: 1440px){
    .box{
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-10);
        margin: 0 50%;
        padding-top: var(--space-15);
    }

    .team-container{
        padding-top: var(--space-16);
    }

}