.material-container{
    padding: 0% 4%;
    width: 300px;
}

#icons{
    width: 0%;
    margin-left: 0%;
}

.material-title{
    padding: 5% 0%;
}

.material-text{
    color: #696969;
    width: 300px;
    height: auto;
    hyphens: auto; /* quebra de palavra */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    word-spacing: 1px; /* Ajuste do espaçamento entre palavras */
    text-align: justify; /* justify ou start? decida */
}

.touch-icon img {
    margin: -2% !important;
}

.book-icon img {
    margin-bottom: -3%;
}

a{
    color:#0000FE;
    text-decoration: underline;
}

@media screen and (max-width: 1184px) {
    .material-text {
        height: auto;
        min-height: 0px;
    }
}
