/* Description.css */

.description-container {
    width: 100%;
    min-height: 480px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding-top: 6%;
}

.project-description {
    width: 62%;
    font-size: 32px;
    color: #696969;
    padding-bottom: 3%;
    text-align: center;
}

#link-IBC {
    font-size: 32px;
    color: blue;
}

.teacher-info {
    font-size: 20px;
    margin-top: 20px; /* Optional: Add some space between the text and the description */
    text-align: center;
}


@media screen and (max-width: 1690px) {
    .project-description{
        height: 300px;
        overflow-y: auto;
        padding-right: 10px;
    }

    .teacher-info{
        margin: 60px 48px 0px 48px;
    }
}

@media screen and (max-width: 650px) {
    .project-description, #link-IBC{
        font-size: 26px;
    }
}