/* Description.css */

.description-container {
    width: 100%;
    min-height: 480px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    /*background-color: rgb(240, 240, 240);*/
    padding: 4% 0%;
}

.project-description {
    width: 62%;
    /*font-size: 27px;*/
    color: #000000;
    padding-bottom: 3%;
    margin: 0;
    text-align: center;
}

.link-IBC {
    color: blue;
}

.teacher-info {
    margin-top: var(--space-5); /* Optional: Add some space between the text and the description */
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin: 0;
}


@media screen and (max-width: 1690px) {
    .project-description{
        height: 300px;
        overflow-y: auto;
        padding-right: var(--space-2);
    }

    .description-container {
        padding: 13% 0%;
    }

    .teacher-info{
        margin: var(--space-15) var(--space-12) 0px var(--space-12);
    }
}