.header-container {
    background-color: red; /* Só para testes */
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    display: flex;
    z-index: 0;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: flex-end;
  }
  
  .nav-links a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }
  
  .social-icons a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.5rem;
  }
  
  /* Add styles for social media icons if using font-awesome or similar libraries */
  